/src/.phpunit.cache
/src/.phpunit.result.cache
/src/supervisord.pid

/src/public/build
/src/public/hot
/src/storage/*.key

/src/.phpactor.json
/src/Homestead.json
/src/Homestead.yaml
/src/auth.json
/src/npm-debug.log
/src/yarn-error.log

/src/vendor
/src/node_modules

/docker/volumes

/.fleet
/.idea
/.vscode
.env